body {
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans;
}

#div_tree {
	font: 15px Verdana, sans-serif;
  display: inline-block;
  width: 400px;
  height: 500px;
  position:relative;
  overflow: scroll;
  /*overflow-y: hidden;*/
}

#div_log {
	width: 400px;
	height: 500px;
	overflow: scroll;
	/*overflow-x: hidden;*/
	padding:10px;
	vertical-align: top;
	display: inline-block;
	border: 1px solid gray;
	font: 15px Verdana, sans-serif;
	line-height: 16px;
	position:fixed;
	margin-left:3%;  
	margin-top:0.5%;
}
